@import url('https://fonts.googleapis.com/css?family=Montserrat:400,700&display=swap');

/* El CSS siguiente esta pensando primero para moviles y luego para 
   Escritiorio*/
*, ::before, ::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: calc(0.5em + 1vh);
}

/* El estilo base para moviles */
body {
    background-color: #112935;
    color: white;
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    font-weight: 400;
}
/*Separar los dos objetos del header*/
.header {
    display: flex;
    justify-content: space-between
}

.src-only {
    display: none;
}
/*Ocultando objetos no deseados en la vista de telefono*/
.hide-mobile {
    display: none;
}
/*Modificando los parrafos*/
p{
    font-size: 0.75em;
    padding: 1rem;
    line-height: 25px;
}
/*Modificando el logo*/
.logo {
    width: 90px;
    margin: 1em;
}
/*Editando las barritas del menu*/
.options {
    color: inherit;
    text-decoration: none;
    position: relative;
    top: 30%;
    right: 95%;
    font-size: 1.5rem;

    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;

}
/*Heredando caracteristicas de options*/
.options i:last-child {
    font-size: 1.6rem;
}

/* Big area */
/*Alterando imagen*/
.big-hero img {
    width: 130px;
    margin-top: 1em;
}
/*Alterando los h2*/
.big-hero h2 {
    font-size: 1.875em;
    font-weight: 700;
    letter-spacing: 0.002em;
    margin-top: 1.5em ;
}
/*Modificando los p*/
.big-hero p {
    font-size: 0.9em;;
    color: #D7DEE6;

}

/* Social links*/
/*Cambiando posicion de los iconos de redes sociales*/
.social-links{
    list-style: none;
    padding: 0;
    margin-top: -4em;
    margin-bottom: 3em;
    display: flex;
    flex-direction: row;
    justify-content: center

}
/*Disenho de logos*/
.social-links li a{
    color: #D7DEE6;
    text-decoration: none;
    font-size: 8em;
    padding: 15px;
}

/*Green Area*/
/*Color de background*/
.green-area {
    background-color: #0AC693; 
}

/*Aplicando tamanho al lugar de publicaciones*/
.post {
    padding: 1em 4em 1em 4em;
    margin-bottom: -2px;
}
/*Alterando h2*/
.post h2 {
    text-transform: uppercase;
    font-weight: 700;
    font-size: 1.125em;
    margin: 0.8em;
}
/*Alterando lista*/
.post ul {
    list-style: none;
}
/*Alterando cada cosa de la lista*/
.post ul li {
    min-height: 300px;
    max-width: 350px;
    margin: 2rem auto;
}
/*Cada articulo de la lista*/
.post ul li article {
    overflow: hidden;
    border-radius: 10px;
    background-color: #ffffff;
    text-align: left;
    padding-bottom: 6em;
}
/*Imagen dentro del articulo*/
.post article img{
    height: 180px;
    width: 100%;
    object-fit: cover;
}
/*Formato de el tema de cada articulo*/
.post article h3 {
    color: #0D5061;
    margin-top: 0.5em;
    padding: 0em 1rem;
    font-size: 1em;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
/*Formato de los parrafos de cada articulo*/
.post article p {
    color:#112935;
    font-size: 0.75em;
    padding: 1rem;
    line-height: 25px;
}

/* About */
/*Tamanho del container*/
.about{
    margin-top: 2em;
}
/*Alterando h2*/
.about h2 {
    text-transform: uppercase;
    font-weight: 700;
    font-size: 1.2em;
    margin: 2em;
    margin-top: 2em;
}
/*Modificando imagen*/
.bio-info img{
   width: 160px;
}
/*Modificando p*/
.bio-info p{
    font-size: 14px;
    padding: 2.5em 4em 2em 4em;
    text-align: left;
    line-height: 25px;
    letter-spacing: 2px;
}
/*Ajustes del contact*/
.contact {
    display: flex;
    flex-direction: column;
    text-align: left;
    padding: 0px 1em;
}
/*Dandole margen al contact*/
.contact * + * {
    margin-top: 1.5em;
}
/*Dandole ajustes al formulario*/
.contact-form {
    display: flex;
    flex-direction: column;
    padding: 0 2em;
}
/*Areas de escribir*/
.contact-form input, .contact-form textarea{
    padding: 1rem 2rem;
    border: none;
    border-radius: 0px 2em;
    font-size: 1em;
    width: 100%;
    margin-top: 1em;
}

/* Decorando placeholder */

::-webkit-input-placeholder { 
    color: #D7DEE6; 
} 
 
:-moz-placeholder { /* Firefox 18- */ color: #D7DEE6; } 
 
::-moz-placeholder { /* Firefox 19+ */ color: #D7DEE6; } 
 
:-ms-input-placeholder { color: #D7DEE6; }
/*Modificando el boton de enviar*/
.contact-form input[type=submit] {
    background-color: #F74442;
    font-weight: 400;
    color: white;
    font-size: 1rem;
    margin-bottom: 3em;
}
/*Alterando tamanho de message*/
#message{
    height: 180px;
    font-family: 'Montserrat', sans-serif;
}

.black-decoration{
    background-image: url("../images/decoracion_oscura_small.svg");
}
/*Tamanho del footer*/
footer{
    background-color: #0D5061;
    color:#D7DEE6;
}
/*redes sociales del footer*/
footer .social-links {
    margin: 0;
    margin-bottom: -2em;
    padding-top: 0;
}
/*Ajustes del menu*/
.menu {
    background-color: #112935;
    position: absolute;
    z-index: 20;
    top: 60px;
    right: 0;
    width: 100vw;
    height: calc(100vh - 60px);
}

.menu {
    list-style: none;
    text-align: left;
    padding: 1em;
}
/*Cada seccion del menu*/
.menu li {
    display: block;
    padding: 0.5em;
    margin-top: 5px;
}
/*Cada palabra del menu*/
.menu li a {
    color: white;
    text-decoration: none;
    
}

/* Pesonalizando estilo para tablets*/
@media only screen and (min-width: 768px) and (max-width: 1023px) {
  /*listado del post*/
    .post ul {
        list-style: none;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
    /*cada seccion del post*/
    .post ul li {
        min-height: 350px;
        max-height: 3500px;
        margin: 1rem 2rem;
        flex: 1 0 300px;
    }

 /*tamanho del logo*/
    .logo {
        width: 150px;
        margin: 1.5em;
    }
    /*Hover*/
    .menu ul li A:hover{
        color: red;
    }
    /*Formato del menu*/
    .menu {
        background-color: #112935; 
        position: static;
        z-index: 20;
        width: auto;
        height:auto;
        display: flex;
    }
     /*Flechita*/
     .fa, .fas{
        font-weight: 900;
        font-size: 60px;
        margin-bottom: 1em;
        color: #0AC693;
    }
/*Formato de mostrar las lineas*/
    .show-desktop {
        display: block;
    }
    /*Quitar cosas que no se quieren ver en desktop*/
    .hide-desktop {
        display: none;
    }
    /*Dandole forma al menu*/
    .menu {
        background-color: #112935; 
        position: static;
        z-index: 20;
        width: auto;
        height:auto;
        display: flex;
        margin-top: 1em;
    }





} 

@media only screen and (min-width: 1024px)and (max-width: 1439px) {

    /*Div del Logo*/
    /*Tamanho del logo*/
    .logo {
        width: 150px;
        margin: 1.5em;
    }
     /*Formato del menu*/
     .show-desktop {
        display: block;
    }
     /*Quitar cosas inservibles en desktop*/
    .hide-desktop{
        display: none;
    }
     /*Hover*/
    .menu ul li A:hover{
        color: red;
    }
    /*Formato del menu*/
    .menu {
        background-color: #112935; 
        position: static;
        z-index: 20;
        width: auto;
        height:auto;
        display: flex;
    }

    /*Flechita*/
    .fa, .fas{
        font-weight: 900;
        font-size: 80px;
        margin-bottom: 1em;
        color: #0AC693;
    }
    /*Big Hero*/
    .big-hero img{
        width: 200px;
        margin-top: 1em;
        margin-bottom: -1em;
    }

    /*Green Area*/
    /*Haciendo los articulos dinamicos*/
    .post ul{
        list-style: none;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

    .post ul li{
        min-height: 350px;
        max-height: 3500px;
        margin: 1rem 2rem;
        flex: 1 0 300px;
    }

     /*About Me*/
    /*Haciendo el contenedor dinamico*/
    .about>.container{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }
    /*Poniendo a Acerca De arriba de info*/
    .about h2{
        text-transform: uppercase;
        font-weight: 700;
        font-size: 1.4em;
        margin: 2em;
        margin-top: 0em;
        flex: 0 1 100%;
    }

    .bio-info img{
        width: 250px;
    }

    .bio-info p{
        font-size: 20px;
        line-height: 28px;
    }
    /*Ubicando la info*/
    .bio-info{
        flex: 1 0 50%;
    }
    .contact{
        display: flex;
        flex-direction: column;
        text-align: left;
        padding: 0px 1em;
        flex: 1 0 50%;
    }
    /*Ubicando el formulario*/
   .contact-form{
    display: flex;
    flex-direction: column;
    padding: 0;
   }
   /*Tamanho de boton enviar*/
   .contact-form input[type=submit]{
       background-color: #F74442;
       font-weight: 400;
       color: white;
       font-size: 1rem;
       margin-bottom: 3em;
       width: 300px;
   }

    /*tamaño del espacio para texto "message"*/
    #message{
        height: 250px;
        font-family: 'Montserrat', sans-serif;
    }
    



}

@media only screen and (min-width: 1440px) {
/*Modificando el container*/
    .container {
        width: 80%;
        margin: 0 auto;
        max-width: 1440px;
    }
    /*Container de Logo*/
    .logo {
        width: 200px;
        margin: 1.5em;
    }
   /*Formato del menu*/
    .show-desktop {
        display: block;
    }
     /*Quitar cosas inservibles en desktop*/
    .hide-desktop{
        display: none;
    }
     /*Hover*/
    .menu a:hover{
        color: red;
    }
    /*Formato del menu*/
    .menu {
        background-color: #112935; 
        position: static;
        z-index: 20;
        width: auto;
        height:auto;
        display: flex;
        margin-right: -5em;
    }

    /*Big Hero*/
    /*Imagen*/
    .big-hero img{
        width: 275px;
        margin-top: 1em;
        margin-bottom: -1em;
    }
    /*Flechita*/
    .fa, .fas{
        font-weight: 900;
        font-size: 100px;
        margin-bottom: 1em;
        color: #0AC693;
    }

    .social-links{
        list-style: none;
        padding: 0;
        margin-top: -4em;
        margin-bottom: 0;
        display: flex;
        flex-direction: row;
        justify-content: center;
    }

    /*Green Area*/
    /*Ubicando los articulos a la par*/
    .post ul{
        list-style: none;
        display: flex;
        justify-content: space-evenly;
    }
    /*Poniendo los articulos con buen margen*/
    .post ul li{
        min-height: 350px;
        max-height: 3500px;
        margin: 1rem 2rem;
        flex: 1 0 300px;
    }

    .post ul li article{
        overflow: hidden;
        border-radius: 10px;
        background-color: #ffffff;
        text-align: left;
        padding-bottom: 3em;
        height: 450px;
        width: 350px;
    }

    .post article img{
        height: 200px;
        width: 100%;
        object-fit: cover;
    }

    .post article h3{
        color: #0D5061;
        margin-top: 0.5em;
        padding: 0em 1rem;
        font-size: 1em;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    /*About Me*/
    /*Haciendo el container dinamico*/
    .about>.container{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }
    /*Ubicando el Acerca De arriba de info*/
    .about h2{
        text-transform: uppercase;
        font-weight: 700;
        font-size: 1.4em;
        margin: 2em;
        margin-top: 0em;
        flex: 0 1 100%;
    }

    .bio-info img{
        width: 250px;
    }

    .bio-info p{
        font-size: 20px;
        line-height: 28px;
        padding-left: 0em;
    }
    /*Ubicando la info*/
    .bio-info{
        flex: 1 0 50%;
    }
   /*Ubicando el formulario*/
    .contact{
        display: flex;
        flex-direction: column;
        text-align: left;
        padding: 0px 1em;
        flex: 1 0 50%;
    }
    /*Alterando tamanho formulario*/
   .contact-form{
    display: flex;
    flex-direction: column;
    padding: 0;
   }
   /*Cambiando tamanho del boton enviar*/
   .contact-form input[type=submit]{
       background-color: #F74442;
       font-weight: 400;
       color: white;
       font-size: 1rem;
       margin-bottom: 3em;
       width: 300px;
   }

    /*tamaño del espacio para texto "message"*/
    #message{
        height: 250px;
        font-family: 'Montserrat', sans-serif;
    }
    
}